:root{
    --main-bg-color : #E6E1C5;
    --main-text-color : #1A1423;
    --red-jeton : #A63D40 ;
    --yellow-jeton : #E9B872 ;
    --clear-color : #7C9EB2;
}


html{
    background-color: var(--main-bg-color);
}
body {
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    color: var(--main-text-color);
}

#board{
    width: 700px;
    height: 600px;
    border: 3px solid var(--clear-color) ;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.jeton{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

h6 {
    text-align: center;
}